body{
	font-family: 'Noto Sans TC', sans-serif;
	color:#888888
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
	color:ffffff
}

.subheading{
	text-transform:none;
	font-family: 'Noto Sans TC', sans-serif;
}

#about{
	line-height:3.5rem
}

interest, .skill{
	font-size:25px
}

a{
	color:#625b57
}

a:active,a:focus,a:hover{
	color:#777777
}

.text-primary{
	color:#625b57 !important
}

.bg-primary{
	background-image: url("img/234.jpg");
}

.social-icons a:hover{
	background-color:#00ff00
}
